


#intro {
  /*border: 1px groove black;*/
  height: 100px;
  width: 500px;
  /*position: inline-block;*/
  /*margin-left: 500px;*/
  /*justify-content: flex-start;*/
  align-items: center;
}

h1 {
  font-family: 'Ewert', cursive;
  flex-direction: row;
  position: relative;
  height: 10px;
  width: 500px;

}

h2 {
  font-family: 'Creepster', cursive;
  margin-top: 30px;
  height: 50px;
  width: 500px;

}

#all {
  position: relative;
}

#onward {
  position: absolute;
  margin-bottom: 100px;
  margin-left: 500px;
  border: 3px outset "dodgerblue";
}

#walking {
  position: relative;
  margin-top: 50px;

}

.materials-icons {
  position: absolute;
  margin-top: 100px;
  margin: auto;
  font-size: 100px;

}

#plank img {
  position: absolute;
  height: 30px;
  width: 100%;
  max-width: 300px;
  border: 1px solid black;
  position: inline-block;
  margin: absolute;
  justify-content: baseline;
}

#screen {
  position: absolute;
  width: 200px;
  height: 50px;
  margin-left: 500px;
  font-family: 'Creepster', cursive;
  font-size: 30px

}

#ocean img{
  display: inline-block;
  margin-top: 50px;
  position: relative;
  position: fixed;
  height: 300px;
  width: 100%;
  bottom: 0;

 }



